<h2>Please Select an Option</h2>


<button class="btn btn-secondary nav-item nav-link-edit" style="margin-bottom: 1em;" (click)="signOut()">Sign Out</button >

    <div class="card-deck ">

    <a class="cardcolor" [routerLink]="['/movies']">
        <div class="card text-white  mb-3">
          <div class="card-body">
            <h4 class="card-title">Movies</h4>
            <p class="card-text">Movie Contents Description.</p>
          </div>
        </div>
    </a>

    <a class="cardcolor" [routerLink]="['/games']">
        <div class="card text-white  mb-3">
          <div class="card-body">
            <h4 class="card-title">Games</h4>
            <p class="card-text">Game Contents Description.</p>
          </div>
        </div>
    </a>

    <a class="cardcolor" [routerLink]="['/wishlist']">
        <div class="card text-white  mb-3">
          <div class="card-body">
            <h4 class="card-title">My Wishlist</h4>
            <p class="card-text">View your wishlist</p>
          </div>
        </div>
    </a>
      </div>