<h1>Please Select an Option</h1>
<br>
<br>

<button type="button" class="nav-item nav-link-edit btn btn-primary btn-lg btn-block" [routerLink]="['/movies']">Movies</button >
<hr>
<button type="button" class="nav-item nav-link-edit btn btn-primary btn-lg btn-block" [routerLink]="['/games']">Games</button >
<hr>
<button type="button" class="nav-item nav-link-edit btn btn-primary btn-lg btn-block" [routerLink]="['/wishlist']">My WishList</button >
<br>

<button class="nav-item nav-link-edit" [routerLink]="['/login']">Sign Out</button >

