.portrait {
    height: 400px;
    width: 500px;
}




.form-group {
    justify-content: center;
    width: 50%;
    margin: auto;
    float: none;
    text-align: center;
}

.form-control {
    width: 100%;
}

.btn-group {
    float: none;
    justify-content: center;
}