<h2>Game Selection</h2>


<!--
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input name="first" ngModel required #first="ngModel">
    <input name="last" ngModel>
    <button>Submit</button>
  </form>
-->

<div class="form-group container">
<form #e="ngForm">
    <input class="form-control mr-sm-2" name="Name" ngModel required #name="ngModel">
    <button class="form-group btn btn-secondary" (click)="findGame(e)">Find Game</button>
  </form>


<br>

<br>

  <form class="form-group" #f="ngForm">
    <label>Genre</label>
        <select class="form-group" name="GenreID" ngModel required #genreID="ngModel">
        <option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
        </option>
        </select>
  </form>


  <form class="form-group" #g="ngForm">
    <label>Platform</label>
        <select class="form-group" name="PlatformID" ngModel required #platformID="ngModel">
        <option *ngFor="let platform of platforms" [value]="platform.value">
            {{platform.viewValue}}
        </option>
        </select>
  </form>

  <button class="btn form-group btn-secondary" (click)="getGame(f, g)">Submit</button>
  <br>
  <button class="btn form-group btn-secondary" [routerLink]="['/options']">Return to Options</button >

</div>

  <br>
  <br>

  <br>
  <hr>

  <div class="container">
  <ul *ngIf="games">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

    <button class="btn btn-secondary" (click)="getGameR(f, g)">Previous Page</button>
    <button class="btn btn-secondary" (click)="getGameF(f, g)">Next Page</button>
    </div>
    <li class="container card-deck" *ngFor="let game of games">
        <div class="card">
          <div class="card-body card-img">
            <img class="img-thumbnail" [src]="game.background_image" >
            <div class="card-img">
              <div class="content info-front">

                <h3>{{game.name}}</h3>
                  <p class="release">Released: {{ game.released }}</p>
                  <p class="rating">Rating: {{ game.rating }}</p>
                  <label>Genres: </label>
                  <span *ngFor="let g of game.genres" class = "genre"> {{ g.name }} </span>
                  <br>
                  <label>Platforms: </label>
                  <span *ngFor="let p of game.platforms" class="platform"> {{ p.name }} </span>
                  <p class="description">{{ game.description }}</p>
                  <button class="btn btn-secondary" (click)="submitGame(game.id)">Add to WishList</button>
                </div>             
               </div>

          </div>
    </div>
    </li>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

      <button class="btn btn-secondary" (click)="getGameR(f, g)">Previous Page</button>
      <button class="btn btn-secondary" (click)="getGameF(f, g)">Next Page</button>
      </div>
  </ul>

</div>

  <div class="container"   *ngIf="game">
    <h3>{{ game.name }}</h3>
    <p class="release">Released: {{ game.released }}</p>
    <p class="rating">Rating: {{ game.rating }}</p>
    <label>Genres: </label>
    <span *ngFor="let g of game.genres" class = "genre"> {{ g.name }} </span>
    <br>
    <label>Platforms: </label>
    <span *ngFor="let p of game.platforms" class="platform"> {{ p.name }} </span>
    <p class = "description"> {{ game.description }}</p>
    <img class="img-thumbnail" [src]="game.background_image" >
    <button (click)="submitGame(game.id)">Add to WishList</button>
  </div>


