@model RawgGameDetailsVM

@{
    ViewData["Title"] = "GameDetails";
}

<h1>GameDetail</h1>
<p><strong>ID:</strong> @Model.id</p>
<p><strong>NAME:</strong> @Model.name</p>
<p><strong>DESCRIPTION:</strong> @Model.description_raw</p>