<h2>Movie Selection</h2>



<form #e="ngForm">
  <input name="Name" ngModel required #name="ngModel">
  <button (click)="findMovie(e)">Find Movie</button>
</form>

<br>
<br>

<form #f="ngForm">
    <label>Genre</label>
        <select name="GenreID" ngModel required #genreID="ngModel">
        <option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
        </option>
        </select>
  </form>
  <button (click)="getMovie(f)">Submit</button>

  <br>
  <button (click)="getPopular()">New Releases</button>
  <br>
  <br>
  <button class="nav-item nav-link-edit" [routerLink]="['/options']">Return to Options</button >


  <br>
  <hr>
  <ul *ngIf="movies">
    <button (click)="getPopularP()">Previous Page</button>
    <button (click)="getPopularF()">Next Page</button>
    <li *ngFor="let movie of movies">
    <p class="name">Title: {{ movie.title }}</p>
    <p class="release">Released: {{ movie.release_date }}</p>
    <p class="rating">Rating: {{ movie.vote_average }}</p>
    <p class="description">{{ movie.overview }}</p>
    <button (click)="submitMovie(movie.id)">Add to WishList</button>
    <br>
    <br>
    </li>
    <button (click)="getPopularP()">Previous Page</button>
    <button (click)="getPopularF()">Next Page</button>
  </ul>


  <ul *ngIf="movies2">
    <button (click)="getMovieP(f)">Previous Page</button>
    <button (click)="getMovieF(f)">Next Page</button>
    <li *ngFor="let movie of movies2">
    <p class="name">Title: {{ movie.title }}</p>
    <p class="release">Released: {{ movie.release_date }}</p>
    <p class="rating">Rating: {{ movie.vote_average }}</p>
    <p class="description">{{ movie.overview }}</p>

    <button (click)="submitMovie(movie.id)">Add to WishList</button>
    <br>
    <br>
    </li>
    <button (click)="getMovieP(f)">Previous Page</button>
    <button (click)="getMovieF(f)">Next Page</button>
  </ul>


  <ul *ngIf="movies3">
    <li *ngFor="let movie of movies3">
    <p class="name">Title: {{ movie.title }}</p>
    <p class="release">Released: {{ movie.release_date }}</p>
    <p class="rating">Rating: {{ movie.vote_average }}</p>
    <p class="description">{{ movie.overview }}</p>
    <button (click)="submitMovie(movie.id)">Add to WishList</button>
    <br>
    <br>
    </li>
  </ul>