.movielist img {
    float: right;
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin-left:10px;
}

.movielist .content{
    margin: 1em;
    list-style-position:outside;
    height: 300px;
}

.portrait {
    height: 330px;
    width: 220px;
}

.movielist {
list-style-type: none;
margin-left:0px;
padding-left:0px;
display: inline-block;
height: 350px;
}
.movielist .name {
    font-weight: bolder;
}
