<h2>Movie Selection</h2>



<div class="form-group container">
<form #e="ngForm">
  <input class="form-control mr-sm-2" name="Name" ngModel required #name="ngModel">
  <button class="form-group btn btn-secondary" (click)="findMovie(e)">Find Movie</button>
</form>

<br>
<br>

<form class="form-group" #f="ngForm">
    <label>Genre</label>
        <select name="GenreID" ngModel required #genreID="ngModel">
        <option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
        </option>
        </select>
  </form>
  <button class="form-group btn-secondary" (click)="getMovie(f)">Submit</button>

  <br>
  <button class="form-group btn-secondary" (click)="getPopular()">New Releases</button>
  <br>
  <br>
  <button class="form-group nav-item nav-link-edit btn-secondary" [routerLink]="['/options']">Return to Options</button >
  </div>

  <br>
  <hr>

<div class="container">
  <ul *ngIf="movies">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-secondary" (click)="getPopularP()">Previous Page</button>
      <button class="btn btn-secondary" (click)="getPopularF()">Next Page</button>
      <hr>
    </div>

    <li class="cool-list container" *ngFor="let movie of movies">
        <img class="img-thumbnail portrait" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" >
        <div class="content">
        <h3>{{ movie.title }}</h3>
        <p class="release">Released: {{ movie.release_date }}</p>
        <p class="rating">Rating: {{ movie.vote_average }}</p>
        <p class="description">{{ movie.overview }}</p> 
        <button class="btn btn-secondary" (click)="submitMovie(movie.id)">Add to WishList</button>
      </div>
    </li>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <hr>
      <button class="btn btn-secondary" (click)="getPopularP()">Previous Page</button>
      <button class="btn btn-secondary" (click)="getPopularF()">Next Page</button>
    </div>
  </ul>
</div>

<div class="container">
  <ul *ngIf="movies2">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-secondary" (click)="getMovieP(f)">Previous Page</button>
      <button class="btn btn-secondary" (click)="getMovieF(f)">Next Page</button>
      <hr>
    </div>

    <li class="cool-list container" *ngFor="let movie of movies2">
      <img class="img-thumbnail portrait" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" >
      <div class="content">
      <h3>{{ movie.title }}</h3>
    <p class="release">Released: {{ movie.release_date }}</p>
    <p class="rating">Rating: {{ movie.vote_average }}</p>
    <p class="description">{{ movie.overview }}</p>

    <button class="btn btn-secondary" (click)="submitMovie(movie.id)">Add to WishList</button>
    </div>
    </li>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <hr>
      <button class="btn btn-secondary" (click)="getMovieP(f)">Previous Page</button>
      <button class="btn btn-secondary" (click)="getMovieF(f)">Next Page</button>
    </div>
  </ul>
</div>

<div class="container">

  <ul *ngIf="movies3">

    <li class="cool-list container" *ngFor="let movie of movies3">
      <img class="img-thumbnail portrait" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" >
      <div class="content">

      <h3> {{movie.title}}</h3>
    <p class="release">Released: {{ movie.release_date }}</p>
    <p class="rating">Rating: {{ movie.vote_average }}</p>
    <p class="description">{{ movie.overview }}</p>

    <button class="btn btn-secondary" (click)="submitMovie(movie.id)">Add to WishList</button>
    </div>
    </li>
  </ul>

  </div>