@model ChickenCoopVM

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @ViewData["result"]


        <br />
        <br />
        <p>Parsed and Mapped: </p>
        @foreach (var item in Model.result)
        {
            <p>Title: @item</p>
            <p>Platform: @item.platform</p>
        }

    </div>
