<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">

</head>
<body>

  <!---
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">MediaWish</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search User WishList" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
-->



  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">MediaWish</a>
    <form class="form-inline">
      <form #e="ngForm">

      <input name="Name" ngModel required #name="ngModel" class="form-control mr-sm-2" type="search" placeholder="Search by ID" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="findUserList(e)">Find WishList</button>
    </form>
    </form>
  </nav>

</body>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>



<ul *ngIf="list">
  <button class="nav-item nav-link-edit" [routerLink]="['/login']">Return to Login</button >
  <li *ngFor="let lit of list">
  <p class="title">Title: {{ lit.mediaTitle }}</p>
  <p class="platform">Platform: {{ lit.mediaPlatform }}</p>
  <p class="description">Description: {{ lit.mediaDescription }}</p>
  <br>
  <br>
  </li>
  <button class="nav-item nav-link-edit" [routerLink]="['/login']">Return to Login</button >
</ul>

